
#  Telegram
TELEGRAM_BOT_TOKEN=7317644050:AAESKpy0z3-bMZrphdKRKJK925HaquaWQk4   # TokenFate
TELEGRAM_BOT2_TOKEN=7210386089:AAEPdscUP2iZXk2ch0T3N-Ud3CbEaLnOyqc  # TokenFateFortuneCookieBot
TELEGRAM_BOT3_TOKEN=7268618899:AAEhdReTnAfiVme2Bq0QF-jquH9jfcpCIKA  # Tarot test
TELEGRAM_BOT_FORTUNE_TELLER_TOKEN=7578797243:AAG4gsM1m4Gn-fj9cZJ98yvbjyO4siSkzC4  #  Fortune Teller

TOKEN_FATE_TWITTER=https://twitter.com/TokenFate
TOKEN_FATE_GROUP=https://t.me/joinchat/TokenFate

WEB_MINI_APP_URL=https://f117-163-125-212-194.ngrok-free.app

# Binance
BINANCE_API_KEY=7L0xW2cyeyjGQjRsrQQIw4qXxP0T8KIPcK0q2gtAvsSMAtXV24eovQhhMwVC4Gvn
BINANCE_API_SECRET=Zjo2MLuyWOoljdWZuw5w7qRe4TKBCH7AduAWhvYXZhUJ69hqOYrjrAwCO5pIHnKe

# Server
ENV=prod  # prod
WORKERS=6
HOST=0.0.0.0
PORT=9005
LOG_DIR=/tmp/logs

# Dify
DIFY_API_KEY_WORKFLOW=app-qQH6vkbZLkZP2FfurD57EuRU
DIFY_API_KEY_2=app-zs0CYWVyAwfZoWFEWo5k1eGv
DIFY_API_KEY_MESSAGE=app-qXtTgCKlcn1setjaXgX0Z6oK
DIFY_API_KEY_DECODE=app-HTHqEf3A0qx56hYobaodWGLv
DIFY_API_KEY_TAROT=app-lqI0sGKS1ysiqTntU29Tdt5c
DIFY_BASE_HOST=http://35.79.227.81:5000/v1

# fortune teller
DIFY_FORTUNE_TELLER_BASE_HOST=http://hajime.pointer.ai/v1
DIFY_API_KEY_FORTUNE_TELLER=app-zVs8WHjsZ83fL7SZBoGJCTqZ

# sql
POSTGRESQL_USER = telebot
POSTGRESQL_PASSWORD = telebot
POSTGRESQL_HOST = postgres_server
POSTGRESQL_PORT = 5432
POSTGRESQL_DATABASE = telebot

# ton
MANIFEST_URL = 'https://raw.githubusercontent.com/XaBbl4/pytonconnect/main/pytonconnect-manifest.json'

#  https://devixyz.github.io/telegram/manifest.json
# https://raw.githubusercontent.com/ton-connect/demo-telegram-bot/master/tonconnect-manifest.json
TON_API_KEY = AFGNBPOEICSMP6AAAAAP4ILWBUS5H7RZF333GEP4KUY6OBUNHZCIPSVNJLB7P2RGR34KMEY
FEE_PERCENTAGE = 3
TESTNET = False
MOCK_SERVER = False
FIXED_GAS_FEE = 0.0055
TON_MNEMONIC = "hybrid dignity ecology ordinary balcony tide glory end recycle embrace comfort vacant junior slim reflect merge vacant style transfer valid measure potato pride dinner"

# redis
REDIS_HOST = redis_server
REDIS_PORT = 6379

# SMTP
EMAIL_FROM = "no-reply@hajime.ai"
EMAIL_TO = "paxzhu98@163.com"
SMTP_HOST = "email-smtp.ap-northeast-1.amazonaws.com"
SMTP_PASS = "BJt49FpFAnPY6gpd3eSuW2WXoGivI+z+yJZCoY9wmXzZ"
SMTP_PORT = 465
SMTP_USER = "AKIA47CRWTAI6LG7ZDKM"
